body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/Particle\ 1\ -\ Compress\ 1.png'); /* Replace with your image */
  background-size: cover;
  background-repeat: no-repeat;
}
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-box {
  text-align: center;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color:  #060240;
  color: white;
}

/* .text-above {
  margin-bottom: 20px;

} */

.login-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width:100%;
  border-radius: 20px;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.logo-divider {
  border-right: 1px solid #ccc;
  padding-right: 10px;
  margin-right: 10px;
}

.logo {
  max-width: 50px;
  margin-right: 10px;
}

.insight-copiot {
  font-weight: bold;
}
.login-para {
  font-size: 14px;
  margin-bottom: 5px;
}

.divider {
  width: 30px;
  height: 1px;
  background-color: #ccc;
  margin: 5px auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}